.TransitionLight {
    position: absolute;
    bottom: 0;

    width: 100%;
    
    transform: rotate(180deg);
  }
  
.TransitionLight svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 82px;
}
  
.TransitionLight .shape-fill {
    fill: url("#light");
}