@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


html, body {
  font-family: 'Fira Code', sans-serif;
  overflow-x: hidden;
}


p {
  font-family: "Roboto", sans-serif;
}


body {
  --bright-aqua: #66FCF1;

  --dark-aqua: #45A29E;

  --black: #0B0C10;

  --dark-gray: #1F2833;

  --light-gray: #C5C6C7;
}

